.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: 700;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: #333;
  color: #ffffff;
  border: 0px;
  cursor: pointer;
  transition: all .4s ease;
}
button:hover {
  background-color: #000000;
}
button.red:hover {
  background-color: salmon;
}
